<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AnimE</title>
    <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="../static/css/responsive.css" th:href="@{css/responsive.css}">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="blue">
            <img src="../static/img/header-shepe-blue.png" alt="" th:src="@{img/header-shepe-blue.png}">
        </div>
        <div class="container">
            <img class="shepe1" src="../static/img/shepe1.png" alt="" th:src="@{img/shepe1.png}">
            <img class="shepe2" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe3" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe4" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe5" src="../static/img/shepe1.png" alt="" th:src="@{img/shepe1.png}">
            <img class="shepe6" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="logo">
                        <h2><a href="/index">AnimE</a></h2>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/about">О нас</a></li>
                            <li><a href="/contact">Контакты</a></li>
                            <li><a href="/animators">Аниматоры</a></li>
                            <li><a href="/costume">Костюмы</a></li>
                            <li><a href="/party">Праздники</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-text">
                        <h2>Наши аниматоры!</h2>
                        <p>Команда готовая преобразить любой праздник!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="my-claint owl-carousel owl-theme">
                        <div class="item">
                            <img src="../static/img/ivan1.png" alt="" th:src="@{img/ivan1.png}">
                            <div class="item-overlay"></div>
                            <div class="item-text">
                                <h3>Жмышенко Валерий</h3>
                                <h4>Аниматор/Фокусы с голосом</h4>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/dmitro.png" alt="" th:src="@{img/dmitro.png}">
                            <div class="item-overlay"></div>
                            <div class="item-text">
                                <h3>Кнопенко Дмитрий</h3>
                                <h4>Аниматор/Minecraft & Fortnite</h4>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/vladislav.png.png" alt="" th:src="@{img/vladislav.png}">
                            <div class="item-overlay"></div>
                            <div class="item-text">
                                <h3>Магомадов Владислав</h3>
                                <h4>Аниматор/Восточные сказки</h4>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/misha.png" alt="" th:src="@{img/misha.png}">
                            <div class="item-overlay"></div>
                            <div class="item-text">
                                <h3>Косой Михаил</h3>
                                <h4>Аниматор/Квесты-поиски</h4>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/danya.png" alt="" th:src="@{img/danya.png}">
                            <div class="item-overlay"></div>
                            <div class="item-text">
                                <h3>Маямов Даниил</h3>
                                <h4>Аниматор/Гонки-Тачки</h4>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../static/img/oleg.png" alt="" th:src="@{img/oleg.png}">
                            <div class="item-overlay"></div>
                            <div class="item-text">
                                <h3>Ставочок Олег</h3>
                                <h4>Аниматор/Тик-Ток</h4>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-icon">
                        <h2>AnimE</h2>
                        <p><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></p>
                        <h5>&copy; All Right Reserved. 2020</h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="../static/js/jquery-3.1.1.min.js" th:src="@{js/jquery-3.1.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="../static/js/active.js" th:src="@{js/active.js}"></script>
</body>

</html>