<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AnimE</title>
    <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="../static/css/responsive.css" th:href="@{css/responsive.css}">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="blue">
            <img src="../static/img/header-shepe-blue.png" alt="" th:src="@{img/header-shepe-blue.png}">
        </div>
        <div class="container">
            <img class="shepe1" src="../static/img/shepe1.png" alt="" th:src="@{img/shepe1.png}">
            <img class="shepe2" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe3" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe4" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe5" src="../static/img/shepe1.png" alt="" th:src="@{img/shepe1.png}">
            <img class="shepe6" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="logo">
                        <h2><a href="/index">AnimE</a></h2>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/about">О нас</a></li>
                            <li><a href="/contact">Контакты</a></li>
                            <li><a href="/animators">Аниматоры</a></li>
                            <li><a href="/costume">Костюмы</a></li>
                            <li><a href="/party">Праздники</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="header-text">
                        <h1>AnimE</h1>
                        <p>Аниматоры на детский праздник с интересной и яркой игровой программой <br> Мы постоянно развиваемся и совершенствуемся, чтобы удивлять наших самых искушенных клиентов новыми «фишками»<br></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="another-text">
                        <h3>Всего три простых шага</h3>
                        <p>И наша команда превратит любой день в праздник!</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="development">
        <div class="blue">
            <img src="../static/img/development-shepe-blue.png" alt="" th:src="@{img/development-shepe-blue.png}">
        </div>
        <div class="white">
            <img src="../static/img/development-shepe-white.png" alt="" th:src="@{img/development-shepe-white.png}">
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-4 col-sm-4">
                    <div class="design-development one">
                        <i class="material-icons">lightbulb_outline</i>
                        <h2>Выбирайте аниматоров</h2>
                        <p>Выбирайте аниматоров из нашего каталога профессиональных аниматоров</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="design-development two">
                        <i class="material-icons">color_lens</i>
                        <h2>Выбирайте им костюмы</h2>
                        <p>Большой выбор качественных костюмов</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="design-development three">
                        <i class="material-icons">developer_board</i>
                        <h2>И оформляйте заказ</h2>
                        <p>Укажите ваши контакты, место и дату заказа</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="works">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="work-images">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/84S0fMzSVl0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen th:src="@{https://www.youtube.com/embed/84S0fMzSVl0}"></iframe>
                        <div class="overlay-text">
                            <i class="material-icons">play_circle_filled</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="work-text-full">
                        <div class="work-text">
                            <h2>Как мы работаем?</h2>
                            <p>Просмотрите видео с примером нашей работы и оцените её для себя.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolia">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port-text">
                        <h2>Наши недавние мероприятия!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/1.png" alt="" th:src="@{img/1.png}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/2.jpg" alt="" th:src="@{img/2.jpg}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/3.jpg" alt="" th:src="@{img/3.jpg}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/4.png" alt="" th:src="@{img/4.png}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/5.png" alt="" th:src="@{img/5.png}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/6.jpg" alt="" th:src="@{img/6.jpg}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="blue">
            <img src="../static/img/contact-shepe-blue.png" alt="" th:src="@{img/contact-shepe-blue.png}">
        </div>
        <div class="white">
            <img src="../static/img/contact-shepe-white.png" alt="" th:src="@{img/contact-shepe-white.png}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="contact-text">
                        <h2>Свяжитесь с нами!</h2>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="contact-form">
                        <form action="#" method="post">
                            <div class="first">
                                <input type="text" name="" placeholder="Имя">
                            </div>
                            <div class="last">
                                <input type="text" name="" placeholder="Фамилия">
                            </div>
                            <div class="email">
                                <input type="email" name="" placeholder="Электронная почта">
                            </div>
                            <div class="message">
                                <textarea placeholder="Напишите нам)"></textarea>
                            </div>
                            <div class="checkbox-submit">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="" checked> Рассылка новостей</label>
                                </div>
                                <div class="submit">
                                    <input type="submit" value="Отправить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-icon">
                        <h2>AnimE</h2>
                        <p><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></p>
                        <h5>&copy; All Right Reserved. 2020</h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="../static/js/jquery-3.1.1.min.js" th:src="@{js/jquery-3.1.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="../static/js/active.js" th:src="@{js/active.js}"></script>
</body>

</html>