<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Status </th>
        <th> Order </th>
        <th> Price </th>
        <th> Action </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderhasresourse : ${orderhasresourses}">
        <td><span th:text="${orderhasresourse.Order.Status.Name}">Name </span></td>
        <td><span th:text="${orderhasresourse.Order.Id}">WorkExp </span></td>
        <td><span th:text="${orderhasresourse.Price}">Name </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>