<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AnimE</title>
    <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="../static/css/responsive.css" th:href="@{css/responsive.css}">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="blue">
            <img src="../static/img/header-shepe-blue.png" alt="" th:src="@{img/header-shepe-blue.png}">
        </div>
        <div class="container">
            <img class="shepe1" src="../static/img/shepe1.png" alt="" th:src="@{img/shepe1.png}">
            <img class="shepe2" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe3" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe4" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <img class="shepe5" src="../static/img/shepe1.png" alt="" th:src="@{img/shepe1.png}">
            <img class="shepe6" src="../static/img/shepe2.png" alt="" th:src="@{img/shepe2.png}">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="logo">
                        <h2><a href="/index">AnimE</a></h2>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/about">О нас</a></li>
                            <li><a href="/contact">Контакты</a></li>
                            <li><a href="/animators">Аниматоры</a></li>
                            <li><a href="/costume">Костюмы</a></li>
                            <li><a href="/party">Праздники</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="portfolia">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port-text">
                        <h2>Какие праздники мы проводим:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/party1.jpg" alt="" th:src="@{img/party1.jpg}">
                        <div class="overlay-slide">
                            <h2>Шоу мыльных пузырей</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/party2.jpg" alt="" th:src="@{img/party2.jpg}">
                        <div class="overlay-slide">
                            <h2>Физико-химическое научное шоу</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/party3.jpg" alt="" th:src="@{img/party3.jpg}">
                        <div class="overlay-slide">
                            <h2>Квесты</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/party4.jpg" alt="" th:src="@{img/party4.jpg}">
                        <div class="overlay-slide">
                            <h2>Шоу-программы</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/party5.jpg" alt="" th:src="@{img/party5.jpg}">
                        <div class="overlay-slide">
                            <h2>Кукольные спектакли</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-part">
                        <img src="../static/img/party6.jpg" alt="" th:src="@{img/party6.jpg}">
                        <div class="overlay-slide">
                            <h2>Мимы, ходулисты и живые статуи</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-icon">
                        <h2>AnimE</h2>
                        <p><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></p>
                        <h5>&copy; All Right Reserved. 2020</h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="../static/js/jquery-3.1.1.min.js" th:src="@{js/jquery-3.1.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="../static/js/active.js" th:src="@{js/active.js}"></script>
</body>

</html>